# Базы данных
*.sqlite3
*.db

# Виртуальное окружение
venv/
env/
.venv/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Файлы окружения
.env
.env.local

# Системные файлы
.DS_Store
Thumbs.db

# Локальная статика
static_dev