{% extends 'base.html' %}
{% block content %}
  <table class="table table-striped table-hover table-bordered table-dark">
    <thead>
      <tr class="tableizer-firstrow">
        <th>id</th>
        <th>
          <form method="get" action="">
          <div>
            <select name="category" id="category-filter" onchange="this.form.submit()">
              <option value="">фильтр</option>
              {% for category in categories %}
                <option value="{{ category }}"
                  {% if selected_category == category %}selected{% endif %}>
                    {{ category }}
                </option>
              {% endfor %}
            </select>
          </div>
        </form></br>
          Название</th>
        <th>Количество</th>
        <th>Начальная цена</th>
        <th>Цена продажи</th>
        <th>Результат для суммы</th>
        <th>Результат для суммы с учетом налога</th></tr>
      </thead>
    <tbody>
    {% for transaction in transactions %}
    {% if transaction.result > 0 %}
    <tr class="table-success">
    {% else %}
    <tr class="table-danger">
    {% endif %}
      <td><a href="{% url 'transactions:details' transaction.id %}">{{ transaction.id }}</a></td>
      <td>{{ transaction.security.name }}</td>
      <td>{{ transaction.buy_quantity }}</td>
      <td>{{ transaction.buy_price_per_share }}</td>
      <td>{{ transaction.sell_price_per_share }}</td>
      <td>{{ transaction.result }}</td>
      <td>{{ transaction.result_with_nalog }}</td>
    </tr>
    {% endfor %} 
    </tbody>
        <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>{{ tfoot_data.quantity }}</td>
        <td></td>
        <td></td>
        <td>{{ tfoot_data.result_summ }}</td>
        <td>{{ tfoot_data.result_with_nalog_summ }}</td>
      </tr>
    </tfoot>
  </table>
{% endblock content %}
