{% extends 'base.html' %}
{% block content %}
  {% for transaction in transactions%}
   <h4>{{ transaction.security.name }} {{ transaction.current_price}}</h4>
  {% endfor %}
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="tableizer-firstrow">
      <th>название</th>
      <th>Дата операции</th>
      <th>Количество</th>
      <th>Начальная цена</th>
      <th>Реальная цена покупки</th>
      <th>реальная цена продажи</th>
      <th>Выйти в 0</th>
      <th>Текущая цена</th>
      <th>Результат для TMON</th>
      <th>Результат для суммы</th>
      <th>изменение в % SHORT</th>
      <th>Прошло дней</th>
      <th>Результат LONG</th>
      <th>Результат SHORT</th>
      <th>Результат для суммы с учетом налога</th></tr></thead>
      <tbody>
      

      {% comment %} <tr>
        <td>{{ token }}</td>
        <td></td>
        <td></td>
        <td class="table-success"></td>
        <td></td>
        <td>86,3559</td>
        <td></td>
        <td class="table-success"></td>
        <td>-0,30%</td>
        <td>-0,02%</td>
        <td>1</td>
        <td>-0,26</td>
        <td>-0,01</td>
        <td>-605,3140</td>
        <td>-605,3140</td>
      </tr> {% endcomment %}

    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.security.name }}</td>
        <td>{{ transaction.transaction_date }}</td>
        <td>{{ transaction.buy_quantity }}</td>
        <td class="table-success">{{ transaction.buy_price_per_share }}</td>
        <td>{{ transaction.real_price|floatformat:4 }}</td>
        <td>нет данных</td>
        <td>{{ transaction.price_to_zero|floatformat:4 }}</td>
        <td class="table-success">{{ transaction.current_price }}</br>{{ transaction.percent }}</td>
        <td>{{ transaction.tmon_result|floatformat:4 }}</td>
        <td>{{ transaction.result }}</td>
        <td>{{ transaction.tmon_tod_price }}</td>
        <td>нет данных</td>
        <td>нет данных</td>
        <td>нет данных</td>
        <td>нет данных</td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
{% endblock content %}
