{% extends 'base.html' %}
{% block content %}
  <h1>Тут будет контент</h1>
<table class="table table-striped table-hover table-bordered">
<thead>
  <tr class="tableizer-firstrow">
    <th>название</th>
    <th>Дата операции</th>
    <th>Начальная цена</th>
    <th>Реальная цена покупки</th>
    <th>реальная цена продажи</th>
    <th>Выйти в 0</th>
    <th>Текущая цена</th>
    <th>реальная цена покупки</th>
    <th>Реальная цена продажи</th>
    <th>изменение в % LONG</th>
    <th>изменение в % SHORT</th>
    <th>Прошло дней</th>
    <th>Результат LONG</th>
    <th>Результат SHORT</th>
    <th>Результат для суммы</th>
    <th>Результат для суммы с учетом налога</th></tr></thead>
  <tbody>
    <tr>
      <td>VTBR</td>
      <td>2026-03-18</td>
      <td class="table-success">86,425</td>
      <td>86,4941</td>
      <td>86,3559</td>
      <td>86,5634</td>
      <td class="table-success">86,3000</td>
      <td>86,36904</td>
      <td>86,23096</td>
      <td>-0,30%</td>
      <td>-0,02%</td>
      <td>1</td>
      <td>-0,26</td>
      <td>-0,01</td>
      <td>-605,3140</td>
      <td>-605,3140</td>
    </tr>
  </tbody>
</table>
{% endblock content %}
