{% extends 'base.html' %}
{% block content %}
<p class="text-white-50">{{ operation }}</p>
<table class="table table-responsive table-striped table-hover table-bordered table-dark">
  <thead>
    <tr class="tableizer-firstrow">
      <th>Название</th>
      <th>Дата операции</th>
      <th>Сумма</th>
      <th>Количество</th>
      <th>Начальная цена</th>
      <th>Реальная цена покупки</th>
      <th>Выйти в 0</th>
      <th>Текущая цена</th>
      <th>Результат для TMON</th>
      <th>Результат для суммы</th>
      <th>Прибыль для желаемой цены</th>
      <th>Цена TMON</th></tr></thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
  </table>
{% endblock content %}
